* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font1: "Tiempos Headline Test";
  --font2: "Outfit";
  --main-bg: #ffffff;
  --search-bar: #797f99;
  --section-bg: #f5f5f5;
}

.btn {
  font-family: var(--font1);
  /* padding: 12px 74px 12px 52px; */
  border: 1px solid #cfd2e0;
  border-radius: 48px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  color: var(--search-bar);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--font2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}

.swiper-slide {
  max-width: 140px;
}
.swiper-slide.swiper-slide-next {
  max-width: 140px;
}
.swiper-slide.swiper-slide-active {
  max-width: 140px;
}

@media (max-width: 1199px) {
  .container {
    max-width: 991px;
    margin: 0 auto;
  }
}

/* @media (max-width: 1024px) {
  .container {
    max-width: 991px;
    margin: 0 auto;
  }
} */

@media (max-width: 991px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 425px;
    margin: 0 auto;
  }
}
@media (max-width: 425px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
  }
}

.dropdown .dropbtn {
  cursor: pointer;
  border: none;
  outline: none;
  color: black;
  /* padding: 14px 16px; */
  background-color: transparent;
  font-family: var(--font2);
  font-weight: 700;
  font-size: 16px;
  line-height: 133%;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.show {
  display: block;
}
