*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font1: "Tiempos Headline Test";
  --font2: "Outfit";
  --main-bg: #ffffff;
  --search-bar: #797f99;
  --section-bg: #f5f5f5;
}

.btn {
  font-family: var(--font1);
  /* padding: 12px 74px 12px 52px; */
  border: 1px solid #cfd2e0;
  border-radius: 48px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  color: var(--search-bar);
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--font2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}

.swiper-slide {
  max-width: 140px;
}
.swiper-slide.swiper-slide-next {
  max-width: 140px;
}
.swiper-slide.swiper-slide-active {
  max-width: 140px;
}

@media (max-width: 1199px) {
  .container {
    max-width: 991px;
    margin: 0 auto;
  }
}

/* @media (max-width: 1024px) {
  .container {
    max-width: 991px;
    margin: 0 auto;
  }
} */

@media (max-width: 991px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 425px;
    margin: 0 auto;
  }
}
@media (max-width: 425px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
  }
}
