.relayWrapper {
  position: relative;
  background: transparent;
  .header {
    padding-top: 26px;
    padding-left: 40px;
    background: black;
    display: flex;
    .nav {
      padding-top: 6px;
      display: flex;
      gap: 230px;
      ul {
        display: flex;
        gap: 20px;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }

  .fasttrackWrapper {
    background: black;
    .fasttrackContent {
      padding-top: 213px;
      padding-left: 80px;
      padding-bottom: 266px;
      .heading {
        max-width: 632px;
      }
      .subHead {
        padding-top: 25px;
        max-width: 510px;
      }
      .subText {
        padding-top: 20px;
        max-width: 440px;
      }
      .chatBtn {
        padding-top: 40px;
      }
    }
  }
}
