*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'Formular';
  src: url(../src/assets/fonts/Formular.woff);
}
:root {
  --font1: font-family: 'Urbanist', sans-serif;
  --font2: font-family: 'Formular', sans-serif;
}
.container-fluid{
    padding: 0px !important;
    margin: 0px !important;
}

.headingText{
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 81px;
    line-height: 86px;
    letter-spacing: -0.025em;
    color: #FFFFFF;
}

.subheadText{
    font-family: var(--font1);
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;
}

.subminText{
    font-family: var(--font1);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
a{
    text-decoration: none;
}
li{
    list-style: n;
}
.listBtn{
font-family: var(--font1);
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 22px;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #FFFFFF;
}

.btnText{

    font-family: var(--font1);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    padding: 8px 50px 8px 50px;
    background-color: #8BF7EF;
    text-decoration: none;
}

.titleText{

    font-family: var(--font2);
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    letter-spacing: -0.025em;
    color: #000000;
}